* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

/* color: #ffeedf
s-color: #145434 */

/* font: Space Grotesk
icon: Material Icons */

* {
  background-color: #ffeedf;
  color: #145434;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;

  width: 100%;
  height: 60px;

  border-bottom: 1px solid #145434;

  display: flex;
  justify-content: space-between;
}

header .hamb {
  font-size: 36px;
  border: none;
  position: absolute;
  right: 0;
  top: 5px;

  width: 50px;
  z-index: 10;
}

header h1 {
  padding: 10px;
  font-size: 36px;
  z-index: 10;
  font-weight: 700;
}

i.menu {
  font-size: 36px;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 140px auto 0;
  max-width: 1200px;
  gap: 60px;
  z-index: 1;
}

section {
  z-index: 1;
}

.cards {
  color: #ffeedf;
  background-color: #145434;

  position: relative;

  width: 400px;
  /* height: 280px; */

  display: flex;
  flex-direction: column;
  z-index: 1;

  /* margin: 40px; */
  padding: 40px;
}

.number {
  border: 1px solid #145434;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;

  position: absolute;
  top: -20px;
  left: -20px;
}

.title {
  /* padding: 40px; */
  color: #ffeedf;
  background-color: #145434;

  font-size: 36px;

  border-bottom: 1px solid #ffeedf;
  min-height: 100px;
}

.sub {
  color: #ffeedf;
  background-color: #145434;
  font-size: 18px;
  margin-top: 10px;
}

.text {
  color: #ffeedf;
  background-color: #145434;

  font-weight: 800;
  font-size: 18px;
  padding-bottom: 20px;
}

button {
  border: 3px solid #145434;
  background-color: #ffeedf;
  color: #145434;

  width: 200px;
  height: 50px;

  font-size: 14px;
  margin: auto;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

section button {
  right: -10px;
  bottom: -10px;
}

section button i {
  position: absolute;
  right: 0;
}

i.arrow {
  font-size: 36px;
}

.cards button:hover {
  background-color: #145434;
  color: #ffeedf;
}
